<div class="backdrop"></div>

<div class="centerContainer1">
    <mat-card class="flexContainer">
      <h3>Current Todo: {{toDoCurrentName}}</h3>

      <form class="example-form centerContainer" [formGroup]="Form" (ngSubmit)="onSubmit()">
        
        <mat-form-field class="example-full-width">
            <mat-label>Edit Todo?</mat-label>
            <textarea formControlName="toDoName" matInput placeholder="Ex. Get Eggs"></textarea>
          </mat-form-field>
          <br>
          <mat-form-field>
            <mat-label>Due:</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="toDoDueDate">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          <br>

            <button mat-raised-button color="primary" type="submit" [disabled]="!Form.valid">Edit Todo</button>
            <button mat-raised-button color="warn"  class=" buttonCancel"  (click)="onCancel()"><i class="fas fa-times"></i> Cancel</button>
        </form>

      </mat-card>

    </div>
 


  
  








