<div class="backdrop"></div>
<div class="alert-box">


    <mat-card><form class="example-form" [formGroup]="Form" (ngSubmit)="onSubmit()">
        <mat-form-field class="example-full-width">
            <mat-label>To Do Name:</mat-label>
            <textarea formControlName="toDoName" matInput placeholder="Ex. Get Eggs"></textarea>
          </mat-form-field>
          <br>
            <button mat-raised-button color="accent" type="submit" [disabled]="!Form.valid">Create To Do</button>
        </form></mat-card>
 

  <div class="alert-box-actions">
    <button class="btn btn-primary"  (click)="onCancel()">Cancel</button>
  </div>
</div>
