<div class="backdrop"></div>


   <div class="centerContainer1">
    <mat-card class="flexContainer">
      <form class="example-form" [formGroup]="Form" (ngSubmit)="onSubmit()" class="centerContainer">
        <mat-form-field class="example-full-width">
            <mat-label>Edit List Name:</mat-label>
            <textarea formControlName="collectionName" matInput placeholder="Ex. Shopping List"></textarea>
          </mat-form-field>
          <br>
            <button mat-raised-button color="primary" type="submit" [disabled]="!Form.valid">Edit Collection</button>
            <button mat-raised-button color="warn" class="buttonCancel"  (click)="onCancel()"><i class="fas fa-times"></i> Cancel</button>
        </form>
    </mat-card>
  </div> 
