
<mat-card>
<button mat-raised-button color="primary" (click)="onShowForm()">{{ToDoMessage}}</button>
<button mat-raised-button color="warn" (click)="onDeleteSelected()">Delete Selected To Do's</button><br>
<button mat-raised-button color="warn" (click)="onWipeAllToDos()">Wipe To Do List</button><br>
<button mat-raised-button color="warn" (click)="onLogOut()">Logout</button><br>
<div *ngIf="Show">
    <br>
    <br>
        <form class="example-form" [formGroup]="Form" (ngSubmit)="onSubmit()">
        <mat-form-field class="example-full-width">
            <mat-label>Type the To Do here:</mat-label>
            <textarea formControlName="ToDoText" matInput placeholder="Ex. Get Dog Food..."></textarea>
          </mat-form-field>
          <br>
            <button mat-raised-button color="accent" type="submit" [disabled]="!Form.valid">Add new to list</button>
        </form>
    <br>
    <br>
    </div>
</mat-card>

