
<app-dynamic-todo-create *ngIf="toDoCreate"></app-dynamic-todo-create>
<app-dynamic-todo-edit *ngIf="toDoEdit"></app-dynamic-todo-edit>

<h2>{{collectionName}}</h2>


<button (click)="onBackPage()" mat-raised-button color="primary">Back to Collections</button>
<div>
    <mat-card>To Do panel page
        <button (click)="onDeleteToDoBatch()" mat-raised-button color="warn">Delete Batch</button>
        <button (click)="onAddToDo()" mat-raised-button color="primary">Add To Do</button>
    </mat-card>
</div>
<br>
<br>
<br>

<div 
*ngFor ="let ToDo of toDoArray; let i = index">
    <br>
<mat-card>
    <mat-checkbox (click)='onCompleted(i)'></mat-checkbox>
    {{ToDo.toDoName}}

    <button mat-button [matMenuTriggerFor]="menu">MORE</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="onEditToDo(i)">Edit</button>
  <button mat-menu-item (click)="onDeleteToDo(i)">Delete</button>
</mat-menu>

</mat-card>
</div>


