<app-dynamic-collection *ngIf="collectionCreate"></app-dynamic-collection>
<app-dynamic-collection-edit *ngIf="collectionEdit"></app-dynamic-collection-edit>

            <div class="row d-flex justify-content-end">
                <div>
                    <button mat-mini-fab color="primary" (click)="onAddCollection()"><i class="fas fa-plus addicon"></i></button>
                </div>
                <div class="addNewList">
                    <h4>Add new list</h4>
                </div>
            </div>
   

        




<br>
<div class="d-flex justify-content-center"  *ngIf="isFetching"><mat-spinner></mat-spinner></div>

<div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
    <div *ngFor ="let ToDoCollection of toDoListCollectionArray; let i = index" cdkDrag>
        <br>
        <mat-card class="card-container"> 
            <div  class="openCard" (click)="onCollectionOpen(i)">
                    <div class="listIcons">
                        <i class="fas fa-list fa-2x"></i>
                    </div>
            
                    <div class="listText">
                        <h2>{{ToDoCollection.collectionName}}</h2>
                    </div>
                </div>
                    <div >       
                        <button class="newMore"  mat-button [matMenuTriggerFor]="menu"><mat-icon aria-hidden="false" aria-label="More">more_vert</mat-icon></button>
                    <mat-menu #menu="matMenu">
                      <button mat-menu-item (click)="onEditCollectioname(i)">Edit</button>
                      <button mat-menu-item (click)="onDeleteCollection(i)">Delete</button>
                    </mat-menu>
                    </div>
            
                 </mat-card>

 </div>
 </div>





           
      










